.game-container {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.header .title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
}